.sider{
    background: #444 !important;
    height: calc(100vh - 64px );
    position: fixed !important;
    /* left: 0; */
    /* z-index: 100; */
}
.sider-menu{
    background-color: #444;
    color: #fff; 
}